.Banner
  .inner
    %h2.inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text
      今すぐ無料ダウンロード！
    .inner__btn
      .apple
        = image_tag 'material/icon/Download_on_the_App_Store_Badge_US-UK_blk_092917.png',alt:"apple", class:"apple"
      .google
        = image_tag 'material/icon/google-play-badge.png',alt:"google", class:"google"
    