.Footer
  %ul.contents
    %li.content
      %h2.content__head
        FURIMAについて
      %ul.a
        %li 
          会社概要（運営会社）
        %li 
          プライバシーポリシー
        %li 
          FURIMA利用規約
        %li 
          ポイントに関する特約

    %li.content
      %h2.content__head
        FURIMAを見る
      %ul.a
        %li
          カテゴリー一覧
        %li
          ブランド一覧

    %li.content
      %h2.content__head
        ヘルプ＆ガイド
      %ul.a
        %li 
          FURIMAガイド
        %li 
          FURIMAロゴ利用ガイドライン
        %li 
          お知らせ

  .footer__logo
    = image_tag 'material/logo/logo-white.png', size:"160x46",alt:"footerlogo", class:"footerlogo"
  %p
    © FURIMA