.registrations-top {
  height: 160vh;
  background-color:#eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  
  .icon1 {
    display: block;
    padding-top: 40px;
  }

  .field_with_errors {
    display: contents;
  }

  .new_user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;

    .registrations-middle-top {
      height: 100px;
      width: 50vw;
      background-color: #f8f8f8;
      display: flex;
      align-items: center;
      margin: 2px ;
      margin-top: 10px;
      border: 1px solid white;

      p {
        margin-left: auto;
        margin-right: auto;
        font-size: 23px;
        font-weight: bold;
      }
    }

    .registrations-middle-bottom {
      height: 800px;
      width: 50vw;
      background-color: #f8f8f8;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 10px;
      border: 1px solid white;

      .field {
        padding-top: 20px;
        
        em {
          font-size: 13px;
          font-weight: bold;
        }

        span {
          margin-left: 10px;
          padding: 2px 4px;
          font-size: 12px;
          background-color: red;
          height: 14px;
          width: 20px;
          color: white;
          border-radius: 3px;
        }
      }
      
      ul {
        font-weight: bold;
      }

      li {
        list-style: none;
        font-size: 14px;
        height: 0;
      }

      .field-font {
        font-size: 13px;
        font-weight: bold;
      }

      .collection {
        width: 210px;
      }

      .personal-information {

        .family-name-kanji {
          padding-top: 20px;

          span {
            margin-left: 10px;
            padding: 2px 4px;
            font-size: 12px;
            background-color: red;
            height: 14px;
            width: 20px;
            color: white;
            border-radius: 3px;
          }
        }

        .family-name-kana {
          padding-top: 20px;

          span {
            margin-left: 10px;
            padding: 2px 4px;
            font-size: 12px;
            background-color: red;
            height: 14px;
            width: 20px;
            color: white;
            border-radius: 3px;
          }
        }

        .form-group {
          padding-top: 20px;
        }

        span {
          margin-left: 10px;
          padding: 2px 4px;
          font-size: 12px;
          background-color: red;
          height: 14px;
          width: 20px;
          color: white;
          border-radius: 3px;
        }

        .nini {
          margin-left: 10px;
          padding: 2px 4px;
          font-size: 12px;
          background-color: gainsboro;
          height: 14px;
          width: 20px;
          color: white;
          border-radius: 3px;
        }
      }

      .registration-btn {
        padding: 5px 100px;
        margin-top: 30px;
        background-color: lightcoral;
        border-radius: 5px;
      }
    }
  }
  .icon2 {
    display: block;
    padding-bottom: 40px;
  }
}
