nav {
  border-bottom: 1px solid white;
  height: 50px;
  background-color: #f8f8f8;
}

li {
  display: inline-block;
  font-size: 14px;
  margin-top: 15px;

  a {
    text-decoration-line: none;
    padding-left: 180px;
    color: black;
  }

  a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-weight: bold;
    padding-left:9px;
    color: gray;
  }
}

.crumb {
  font-weight: bold;
  font-size: 14px;
}

.MyPageTop {
  background-color:#eee;
  height: 155vh;
  display: flex;

  .side-bar {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 150px;

    .side-boxes-config {
      margin-bottom: 100px;

      p {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }
    }

    .side-box {
      height: 40px;
      width: 250px;
      margin-bottom: 2px;
      border: 1px solid white;
      font-size: 14px;
      background-color: #f8f8f8;

      li {
        margin: 10px;
      }
    }
  }

  .content {
    background-color: #f8f8f8;
    height: 600px;
    width: 700px;
    margin-top: 50px;
    margin-left: 80px;
    position: relative;

    .natu {
      height: 250px;
      object-fit: cover;
      padding-bottom: 0px;
    }

    .photo {
      position: absolute;
      top: 70px;
      left: 320px;
      
      .dog {
        height: 70px;
        width: 70px;
        border-radius: 30px;
      }
    }

    .acount-name {
      position: absolute;
      top: 130px;
      left: 310px;

      li {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .information-todo {
      height: 70px;
      display: flex;
      .information {
        width: 350px;
        background-color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #f8f8f8;

        p {
          font-weight: bold;
          margin: 20px;
        }
      }

      .todo {
        width: 350px;
        background-color:gainsboro;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;

        p {
          font-weight: bold;
          margin: 20px;
        }
      }
    }

    .information-lists {
      display: flex;
      flex-direction: column;
      background-color: white;

      .list {
        border: 1px solid #f8f8f8;
        height: 60px;
        margin-top: 0;
        display: flex;

        .icon-copy {
          height: 30px;
          width: 30px;
          margin: 15px;
        }
  
        li {
          margin-top: 20px;
        }
      }
      
      .information-table {
        border: 1px solid #f8f8f8;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        .table {
          border: 1px solid white;
          background-color: gainsboro;
          height: 40px;
          width: 650px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration-line: none;

          li {
            font-size: 14px;
            margin-bottom: 12px;
            color: black;
          }
        }
      }
    }
  }

  .items {
    background-color: #f8f8f8;
    height: 400px;
    width: 700px;
    margin-top: 70px;
    margin-left: 80px;
    
    .items-title {
      border: 1px solid #f8f8f8;
      height: 70px;

      p {
        font-weight: bold;
        margin: 25px;
      }
    }

    
    .transaction {
      height: 80ox;
      display: flex;
      
      .transactioning {
        height: 70px;
        width: 350px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #f8f8f8;

        p {
          font-weight: bold;
          margin: 20px;
        }
      }

      .transactioned {
        height: 70px;
        width: 350px;
        background-color: gainsboro;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;

        p {
          font-weight: bold;
          margin: 20px;
        }
      }
    }

    .transaction-item {
      border: 1px solid #f8f8f8;
      background-color: white;
      height: 253px;

      .transactioning-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;

        .icon-white-copy {
          height: 100px;
          width: 100px;
        }

        li {
          font-size: 14px;
          color: lightgray;
          font-weight: bold;
        }
      }
    }
  }
}


